[Unit]
Description=Identification horaire des nouveaux pools PumpSwap

[Timer]
OnCalendar=*-*-* *:20:00
Persistent=true

[Install]
WantedBy=timers.target
